.ApmtBox{
    display: inline-flexbox;
    flex-direction: column;
    margin-right: 3px;
    margin-left: 3px;
    width: 120px;
    min-height: 152px; 
    flex-flow:column;
    justify-content: center;
    border: none;
    color:#222222;
    cursor: pointer;
  }

  .ApmtBoxFocused{
    display: inline-flexbox;
    flex-direction: column;
    margin-right: 3px;
    margin-left: 3px;
    width: 120px;
    min-height: 152px; 
    flex-flow:column;
    justify-content: center;
    border: none;
    color:#222222;
    cursor: pointer;
    background-color: #8E66EE33;
  }


  .ApmtBox:hover{
    background-color: rgba(142, 102, 238, 0.20);
  }
  .ApmtBox::selection{
    background-color: rgba(142, 102, 238, 0.20);
  }
  .ApmtIcon{
    display: block;
    border: none;
    /* flex-grow: 1; */
  }

  .favoritesIcon{
    display: flex;
    /* border: none; */
    align-items: flex-start;
    justify-content: center;
  }
  
  .ApmtName{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-right: 3px;
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 10px;
    align-items: stretch;
    justify-content: center;
    color: #222222;
    border: none;
    width: 100%;

    min-height: 24px;

  }

  .favoritesText{
    display: flex;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    align-self: center;
    height: 100%;
    
  }