.entire {
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 205px 0; */
  user-select: none;
  height: 560px;
}

.bodyContainer {
  padding-top: 0px;
}

.DaysOfWeek {
  display: flex;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colDays {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 500;
  color: #222222;
}

.col{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.day {
  height: 120px;
  margin: 2px 0;
}

.day:hover {
  box-shadow: 0 0 0 3px #40C06F inset;
}

.eachDay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1px;
}

.week {
  display: flex;
  flex-direction: column;
}

.disabled {
  background: #888888;
}

.disabled:hover {
  box-shadow: none;
}

.confirmSelected {
  background-color:#40C06F;
}

.valid {
  background-color: #D0D0D0;
}

.selected {
  background-color: #8E66EE;
}

.Lv1 {
  background-color: #E0CEFF;
}

.Lv2 {
  background-color: #BEA1FE;
}

.Lv3 {
  background-color: #A988F0;
}

.Lv4 {
  background-color: #8D63E8;
}

.Lv5 {
  background-color: #6330DE;
}

.Lv6 {
  background-color: #4B1CBC;
}

.Lv7 {
  background-color: #400099;
}

.txtDate {
  color: #222222;
}

.txtSelectedDate {
  color: #FFFFFF;
}

.emptycalendar {
  width: 10px;
  height: 10px;
}

.howmany {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}