.entire {
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #D0D0D0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 560px;
  padding-top: 38px;
  /* padding-bottom: 36px; */
}

.headerContainer {
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.headerLeft, .headerRight {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.headerCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toAnotherMonth {
  display: flex;
  align-items: center;
}

.headerText {
  color: #222;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.TodayBtn {
  position: absolute;
  border-radius: 5px;
  border: 1px solid #D0D0D0;
  color: #888;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  padding: 3px 5px;
  left: 4px;
}

.bodyContainer {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.DaysOfWeek {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 15px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.colDays {
  width: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid transparent; /*skyblue*/
  border-bottom: 1px solid #D0D0D0; /*skyblue*/
  border-right: none;
}

.colDays:last-child {
  border-right: 1px solid transparent; /*skyblue*/
}

/* 날짜 적힌 부분 */
.col{
  width: 13%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border-top: none;
  border: 1px solid #D0D0D0; /*skyblue*/
  border-right: none;
  border-bottom: none;
  border-top: none;
}

.col:last-child{
  border-right: 1px solid #D0D0D0; /*skyblue*/
}

.day {
  height: 60px;
}

.day:hover {
  box-shadow: 0 0 0 3px #40C06F inset;
}

/* 일정 적히는 칸 부분 */
.eachDay {
  width: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid skyblue;
  border-top: none;
  border-right: none;
}

.eachDay:last-child {
  border-right: 1px solid red;
  outline: 2px solid #8E66EE;
  outline-offset: -1px;
}

.dateHeader {
  height: 17px;
  width: 17px;
  color: #222222;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 1px;
}

.dateHeaderToday {
  height: 17px;
  width: 17px;
  border-radius: 10px;
  background-color: #8E66EE;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 1px;
}

.txtDate {
  color: #222222;
}

.dateNum {
  text-align: left;
  /* border: 1px solid #D0D0D0; */
  border-left: none;
  width: 100%;
  /* display: flex; */
}

.dayHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dayContent{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}