.entire {
  width: 260px;
  background-color: #FFFFFF;
  padding: 20px 0;
  border-radius: 10px;
  border: 1.5px solid #D0D0D0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content {
  width: 220px;
  /* height: 160px; */
}

.headerContainer {
  display: flex;
  position: relative;
}

.headerLeft, .headerRight {
  display: flex;
  flex-grow: 1;
  position: relative;
  justify-content: center;
  align-items: center;
}

.headerCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toAnotherMonth {
  display: flex;
  align-items: center;
  margin: 0px 3px;
}

/* 23년 12월 */
.headerText {
  color: #222222;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.TodayBtn {
  position: absolute;
  width: 37px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #D0D0D0;
  color: #888;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
}

.bodyContainer {
  padding-top: 10px;
}

.DaysOfWeek {
  display: flex;
  font-size: 12px;
  color: #222222;
}

.colDays {
  display: flex;
  flex:1;
  justify-content: center;
  align-items: center;
}

.col{
  display: flex;
  flex:1;
}

.week {
  display: flex;
}

.disabled {
  background: #888888;
  margin: 2px;
  height: 21px;
  width: 27px;
}
.disabled:hover {
  box-shadow: none;
}

.valid {
  background-color: #D0D0D0;
  margin: 2px;
  height: 21px;
  width: 27px;
}

.selected {
  background-color: #8E66EE;
  margin: 2px;
  height: 21px;
  width: 27px;
}

.txtDate {
  color: #222222;
  font-size: 12px;
  user-select: none;
}

.txtSelectedDate {
  color: #FFFFFF;
  font-size: 12px;
  user-select: none;
}

.dateBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}