.entire {
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #D0D0D0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 560px;
  padding-top: 38px;
  /* padding-bottom: 36px; */
}

.headerContainer {
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.headerLeft, .headerRight {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.headerCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toAnotherMonth {
  display: flex;
  align-items: center;
}

.headerText {
  color: #222;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.TodayBtn {
  position: absolute;
  border-radius: 5px;
  border: 1px solid #D0D0D0;
  color: #888;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  padding: 3px 5px;
  left: 4px;
}

.bodyContainer {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.DaysOfWeek {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 15px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.colDays {
  width: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid transparent; /* 0.5 */
  border-right: none;
  box-sizing: border-box;
}

.colDays:first-child {
  border-left: 2px solid transparent; /* 1 */
}

.colDays:last-child {
  border-right: 2px solid transparent; /* 1 */
}

/* 날짜 적힌 부분 */
.col{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.hoverButton {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.day {
  height: 60px;
}

/* 달력 1칸 */
.eachDay {
  width: 13%;
  padding-top: 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: 1px solid #D0D0D0; /* 0.5 */
  z-index: 1;
  box-sizing: border-box;
  height: 92px;
}

.eachDay:first-child {
  border-left: 2px solid #D0D0D0; /* 1 */
}

.eachDay:last-child {
  border-right: 2px solid #D0D0D0; /* 1 */
}

.eachDay:hover {
  outline: 2px solid #8E66EE; /* 1 */
  outline-offset: -2px; /* -1 */
  z-index: 2;
}

.dayContent:first-of-type .eachDay {
  border-top: 2px solid #D0D0D0; /* 1 */
}

.dayContent:last-of-type .eachDay {
  border-bottom: 2px solid #D0D0D0; /* 1 */
}

/* 첫 번째 row의 첫 번째 요소 */
.dayContent:first-of-type .eachDay:first-of-type {
  border-top-left-radius: 8px;
}

/* 첫 번째 row의 마지막 요소 */
.dayContent:first-of-type .eachDay:last-of-type {
  border-top-right-radius: 8px;
}

/* 마지막 row의 첫 번째 요소 */
.dayContent:last-of-type .eachDay:first-of-type {
  border-bottom-left-radius: 8px;
}

/* 마지막 row의 마지막 요소 */
.dayContent:last-of-type .eachDay:last-of-type {
  border-bottom-right-radius: 8px;
}




/* 해당 달에 해당하는 날짜 */
.dateHeader {
  margin: 0px 0px 0px 3px;
  height: 17px;
  width: 17px;
  color: #222222;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}

.dateHeaderToday {
  margin: 0px 0px 0px 3px;
  height: 17px;
  width: 17px;
  border-radius: 10px;
  background-color: #8E66EE;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}

/* 해당 달에 해당하지 않는 날짜 */
.notThisMonth  {
  margin: 0px 0px 0px 3px;
  height: 17px;
  width: 17px;
  color:#888888;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}

.txtDate {
  color: #222222;
}

.dateNum {
  text-align: left;
  /* border-left: none; */
  width: 100%;
}

.dayHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dayContent{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}