.entire {
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 38px;
  padding-bottom: 36px;
}

.headerContainer {
  display: flex;
  position: relative;
  width: 100%;
}

.headerLeft, .headerRight {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.headerCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toAnotherMonth {
  display: flex;
  align-items: center;
}

.headerText {
  color: #222;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.TodayBtn {
  position: absolute;
  border-radius: 5px;
  border: 1px solid #D0D0D0;
  color: #888;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  padding: 3px 5px;
  left: 4px;
}

.bodyContainer {
  padding-top: 10px;
}

.DaysOfWeek {
  display: flex;
  padding: 0 30px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colDays {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 8px;
}

.col{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.day {
  height: 13px;
  margin: 2px 0;
}

.day:hover {
  box-shadow: 0 0 0 3px #40C06F inset;
}

.wholeday {
  height: 720px;
}

.eachDay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1px;
}

.dateHeader {
  height: 17px;
  width: 17px;
  color: #222222;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 1px;
}

.dateHeaderToday {
  height: 17px;
  width: 17px;
  border-radius: 10px;
  background-color: #8E66EE;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 1px;
}

.weekSelected {
  display: flex;
  flex-direction: column;
  border: 2px solid #40C06F;
  box-sizing: content-box;
}

.timeL {
  position: absolute;
  color: #222;
  font-weight: 500;
  line-height: 29.8px;
  top:-11px;
  text-align: right;
}

.timeR {
  position: absolute;
  color: #222;
  font-size: 10px;
  font-weight: 500;
  line-height: 29.8px;
  top:-11px;
  left:-0.2vw;
}

.week {
  display: flex;
  flex-direction: column;
}

.disabled {
  background: #888888;
}
.disabled:hover {
  box-shadow: none;
}

.valid {
  background-color: #D0D0D0;
}

.selected {
  background-color: #8E66EE;
}

.txtDate {
  color: #222222;
}

.txtSelectedDate {
  color: #FFFFFF;
}

.emptycalendar {
  width: 10px;
  height: 10px;
}

.howmany {
  color: #FFF;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
}