.dropDownBody {
  background-color: #fff;
  position: relative;
}

.headerBtn {
  color: #8E66EE;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #D0D0D0;
  padding: 3px 8px;
  margin: 0px 4px;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.optionForm {
  position: absolute;
  padding: 9px 6px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #D0D0D0;
  display: flex;
  flex-direction: column;
  left:4px
}

.optionList {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #222;
  font-size: 13px;
  font-weight: 500;
  text-wrap: nowrap;
  cursor: pointer;
}

.optionSelected {
  background-color: #8E66EE;
  color:#fff;
  font-size: 13px;
  font-weight: 500;
  text-wrap: nowrap;
  cursor: pointer;
  padding: 6px;
  width: 20px;
}

.optionUnSelected {
  background-color: #fff;
  font-size: 13px;
  font-weight: 500;
  text-wrap: nowrap;
  cursor: pointer;
  color:#8E66EE;
  padding: 6px;
  width: 20px;
}

.optionUnSelected:hover {
  background-color: #8E66EE;
  color: #fff;
}