.container {
  display: flex;
  height: 100vh;
  flex-grow: 1;
  --color-border: #101010;
  --color-border-highlight: #888484;
}

.containerResizing {
  cursor: col-resize;
  user-select: none;
  height: 100vh;
  display: flex;
}

.sidebarWrapper {
  display: flex;
  flex: 0 0 200px;
  position: relative;
  background-color: pink;
}

.sidebarContent {
  padding: 10px 16px;
  display: flex;
  flex-direction: column;
  flex:1;
}

.sidebarHeader {
  justify-content: flex-end;
  display: flex;
}

.sidebarMain {
  flex:1;
  background-color: #fff;
}

.sidebarBorder {
  position: absolute;
  right: -5px;
  width: 6px;
  height: 100%;
  cursor: col-resize;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.sidebarBorder.resizing,
.sidebarBorder:hover {
  background-color: var(--color-border-highlight);
}

.mainWrapper {
    /* background-color: rgb(98, 54, 54); */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

.headerWrapper {
  background-color: skyblue;
  display: flex;
  padding: 12px 10px;
  justify-content: space-between;
}

.headerBtnLeft, .headerBtnRight {
  width: 96px;
}

.headerBtnRight {
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
}

.headerBtnRight svg {
  margin-left: 16px;
  background-color: #fff;
}

.headerCenter {
  font-weight: 600;
  font-size: 27px;
  color: #222222;
}

/* temporary */
.check {
  background-color: #e06767;
}

#login:hover, #logout:hover {
  color: aquamarine;
}

/* EmailAuth */
header {
  display: none;
}

.headerWrapper {
  display: none;
}

.container {
  align-items: center;
}

body {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.loginBox {
  width: 320px;
  height: 465px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.loginLogo{
  height: 60px;
  width: 100%;
  margin-top: 40px;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 220px;
}

.infoArea {
  width: 320px;
  position: relative;
  padding-top: 20px;
}

input {
  width: 236px;
  position: relative;
  margin-left: 0px;
  padding: 5px 0px;
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: #000;
  outline: none;
}

.btnRegion {
  background: none;
  width: 24px;
  height: 24px;
}

button.del {
  background: none;
  display: inline;
  border: none;
  cursor: pointer;
  outline: none;
  padding: none;
  width: 24px;
  height: 24px;
}

.underLine {
  width: 260px;
  height: 2px;
  background-color: #D0D0D0;
  position: relative;
  margin-left: 30px;
}

.alertZone {
  width: 260px;
  height: 40px;
  position: relative;
  margin: 0px 30px;
}

button.submitBtn {
  align-self: center;
  width: 260px;
  height: 48px;
  background: #D0D0D0;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 5px;
}

button.active {
  align-self: center;
  width: 260px;
  height: 48px;
  background: #8E66EE;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

div.message {
  font-size: 13px;
  text-align: left;
  color: red;
  padding-top: 8px;
}

p.loginLink {
  margin: 0;
  font-size: 12px;
  color: #888888;
}

.hidden {
  display: none;
}