.filterBody {
  background-color: #fff;
  border-radius: 10px;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  color: #222;
  font-size: 15px;
  font-weight: 500;
}

.filterSection {
  display: flex;
  /* flex:1; */
  justify-content: center;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 13px;
}